{% extends "base.html.twig" %}

{% block title %}Gestion Membre{% endblock %}

{% block body %}
    <h1 class="text-center my-4">Gestion des Membres</h1>


    <div class="container">
        
        <a href="{{ path('admin_user_new') }}" class="btn btn-primary my-2"> New User</a>
        <table class="table table-dark">
            <thead>
                <tr>
                    <th>Id Membre</th>
                    <th>Pseudo</th>
                    <th>Nom</th>
                    <th>Prénom</th>
                    <th>Email</th>
                    <th>Civilité</th>
                    <th>Date d'enregistrement</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                    <tr>
                        <td>{{ user.id }}</td>
                        <td>{{ user.pseudo }}</td>
                        <td>{{ user.nom }}</td>
                        <td>{{ user.prenom }}</td>
                        <td>{{ user.email }}</td>
                        <td>{{ user.civilite }}</td>
                        <td>{{ user.dateenregistrement|date('d/m/y à H:i:s') }}</td>
                        <td>
                            <a href="{{ path('admin_user_update', {id: user.id}) }}" class="text-warning">edit</a>
                            <a href="{{ path('admin_user_delete', {id: user.id}) }}" class="text-danger">delete</a>
                        </td>
                    </tr>
                    
                {% endfor %}
            </tbody>
        
        </table>

    </div>
{% endblock %}